<div class="form-group" *ngIf="visible">
    <label [ngClass]="{ 'required': required }">{{ label }}</label>

    <div *ngFor="let option of options" class="form-check" [ngClass]="{ 'is-invalid': !!errorMessage }">
        <input type="checkbox" class="form-check-input" [name]="'checkboxes-' + label"
            [id]="'checkboxes-' + label + option" [checked]="isChecked(option)"
            (change)="onCheckboxChange(option, $event); onBlur()">
        <label [for]="'checkboxes-' + label + option" class="form-check-label">{{ option }}</label>
    </div>

    <div *ngIf="errorMessage" class="invalid-feedback">
        {{ errorMessage }}
    </div>
</div>