<ng-container *ngIf="!hasNokInput; else errorTemplate">
    <!-- Global Actions -->
    <div class="table-actions" *ngIf="tableConfig?.globalActions">
        <button *ngFor="let action of tableConfig?.globalActions" (click)="executeGlobalAction(action)">
            <i *ngIf="action.icon" [class]="action.icon"></i>
            {{ action.label }}
        </button>
    </div>

    <!-- Table -->
    <table class="custom-table" [ngStyle]="tableConfig?.styles">
        <thead>
            <tr>
                <!-- Actions Header -->
                <th *ngIf="tableConfig?.rowActions && tableConfig?.rowActions?.length">Actions</th>
                <!-- Table Headers -->
                <ng-container *ngFor="let col of tableConfig?.columns">
                    <th (click)="col.sortable && sortColumn(col.field)" [ngStyle]="{ width: col.width }" [attr.title-data]="col.sortable 
                            ? (sortedColumn === col.field 
                                ? (sortDirection === 'asc' ? 'Click to sort Descending' : 'Click to sort Ascending') 
                                : 'Click to sort Ascending')
                            : ''">
                        {{ col.header }}
                        <span *ngIf="sortedColumn === col.field">
                            {{ sortDirection === 'asc' ? '↑' : '↓' }}
                        </span>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of filteredData">
                <!-- Row Actions -->
                <td *ngIf="tableConfig?.rowActions && tableConfig?.rowActions?.length">
                    <button *ngFor="let action of tableConfig?.rowActions" (click)="executeRowAction(action, row)">
                        <i *ngIf="action.icon" [class]="action.icon"></i>
                        {{ action.label }}
                    </button>
                </td>
                <!-- Row Data -->
                <td *ngFor="let col of tableConfig?.columns">
                    <ng-container *ngIf="col.cellTemplate; else defaultCell">
                        <ng-container
                            *ngTemplateOutlet="col.cellTemplate; context: { $implicit: row[col.field] }"></ng-container>
                    </ng-container>
                    <ng-template #defaultCell>{{ row[col.field] }}</ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>

<!-- Error Template -->
<ng-template #errorTemplate>
    <div class="no-input-message">
        <p>Table configuration or data is invalid. Please check your inputs.</p>
    </div>
</ng-template>