<div class="top-navbar bg-dark">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/shortLogo.svg" alt="Logo"
                style="height: 30px; margin-left: 10px; position: relative; top: -3px;">
        </a>
        <div class="topBarRightItems">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-bell topBarIcon"></i>
            </a>
            <a class="nav-link" href="#">
                <i style="margin-right: 10px;" class="fa-solid fa-circle-user topBarIcon"></i>
            </a>
            <button class="btn btn-outline-danger">Sign out <i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
    </nav>
</div>
<div [ngClass]="{'collapsed': sideCollapsed}" id="sidebar" class="text-white bg-dark sidebar">
    <nav class="nav flex-column">
        <a class="nav-link">
            <span class="nav-icon" (click)="toggleSidebar()"><i class="fa-solid fa-bars"></i></span>
        </a>
        <!-- use navOption.href-->
        <a *ngFor="let navOption of screens" class="nav-link" [ngClass]="{'selected': activeLink === navOption.href}"
            (click)="setActiveLink(navOption.href)" [href]="navOption.href">
            <span class="nav-icon"><i [class]="navOption.icon"></i></span>
            <span class="nav-label">{{navOption.name}}</span>
        </a>
    </nav>
</div>