<div class="form-group" *ngIf="visible">
    <label [ngClass]="{ 'required': required }">{{ label }}</label>
    <button tabindex="-1" class="helperBtn" *ngIf="helpers && helpers.length" type="button">
        <i class="fa-solid fa-circle-info"></i>
    </button>
    <p-calendar class="form-control" [ngClass]="{ 'is-invalid': !!errorMessage }" [(ngModel)]="value"
        [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="templatedisplay"
        (ngModelChange)="onValueChange($event)"
        (onBlur)="onBlur()">
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
            <i class="pi pi-user pointer-events-none" (click)="clickCallBack($event)"></i>
        </ng-template>
    </p-calendar>
    <div *ngIf="helpers && helpers.length" class="form-text helpers-wrapper">
        <i class="fa-solid fa-circle-info"></i>
        <div>
            <small style="display: block;" *ngFor="let helper of helpers">{{ helper }}</small>
        </div>
    </div>
    <div *ngIf="errorMessage" class="invalid-feedback">
        {{ errorMessage }}
    </div>
</div>