.form-control{
    padding: 0 !important;
}

:host ::ng-deep input{
    display: block;
    width: 100%;
    border: none;
    border-radius: var(--bs-border-radius);
}

:host ::ng-deep .p-calendar{
    display: block;
    width: 100%;
}

:host ::ng-deep ul {
    margin: 0;
    padding: 0;
}