<div class="form-group" *ngIf="visible">
    <label [ngClass]="{ 'required': required }">{{ label }}</label> <button tabindex="-1" class="helperBtn"
        *ngIf="helpers && helpers.length" type="button"><i class="fa-solid fa-circle-info"></i></button>

    <div *ngFor="let option of options" class="form-check" [ngClass]="{ 'is-invalid': !!errorMessage }">
        <input [name]="'radios-' + label"
            [id]="'radios-' + label + (params && params.returnKey ? option[params.returnKey] : option)" type="radio"
            class="form-check-input" [value]="params && params.returnKey ? option[params.returnKey] : option"
            [checked]="value === (params && params.returnKey ? option[params.returnKey] : option)"
            (change)="onValueChange(params && params.returnKey ? option[params.returnKey] : option); onBlur()">
        <label [for]="'radios-' + label + (params && params.returnKey ? option[params.returnKey] : option)"
            class="form-check-label">{{ params && params.optionLabel ? option[params.optionLabel] : option }}</label>
    </div>
    <div *ngIf="helpers && helpers.length" class="form-text helpers-wrapper">
        <i class="fa-solid fa-circle-info"></i>
        <div>
            <small style="display: block;" *ngFor="let helper of helpers">{{ helper }}</small>
        </div>
    </div>
    <div *ngIf="errorMessage" class="invalid-feedback">
        {{ errorMessage }}
    </div>
</div>