<div class="form-group" *ngIf="visible">
    <label [ngClass]="{ 'required': required }">{{ label }}</label> <button tabindex="-1" class="helperBtn"
        *ngIf="helpers && helpers.length" type="button"><i class="fa-solid fa-circle-info"></i></button>

    <div *ngFor="let option of options" class="form-check" [ngClass]="{ 'is-invalid': !!errorMessage }">
        <input [name]="'radios-' + label" [id]="'radios-' + label + option" type="radio" class="form-check-input"
            [value]="option" [checked]="value === option" (change)="onValueChange(option); onBlur()">
        <label [for]="'radios-' + label + option" class="form-check-label">{{ option }}</label>
    </div>
    <div *ngIf="helpers && helpers.length" class="form-text helpers-wrapper">
        <i class="fa-solid fa-circle-info"></i>
        <div>
            <small style="display: block;" *ngFor="let helper of helpers">{{ helper }}</small>
        </div>
    </div>
    <div *ngIf="errorMessage" class="invalid-feedback">
        {{ errorMessage }}
    </div>
</div>